<% content_for :head do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript"> 
 var markers_array = [];
  window.onload = function () {
    
    var iconBase = 'http://cvsimotorsports.com/';

    var markers = [
      <% @listings.each_with_index do |listing, index| %>
      { lat: <%= listing.latitude %>, lng: <%= listing.longitude %>, name: " ", html: '<div style="width:300px;"><img src="<%= listing.images.first.image.url(:small) %>"  style="margin:20px 5px 5px 5px" height="75" align="right" /><%= listing.address_1 %> <br /> <% if listing.address_2.present? %><%= listing.address_2 %><br /><% end %><%= listing.city %>, <%= listing.state %> <%= listing.zipcode %><br /><%= number_to_currency(listing.price) %><br /><strong>P.</strong> <%= listing.contact_number %> <br /><%= link_to 'View Listing',  view_listing_path(listing) %></div>' } <%= "," unless listing == @listings.last %>
       <% end %>
    ]; //end markers

    var mapOptions = {
        center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    var infoWindow = new google.maps.InfoWindow();

    for (i = 1; i <= markers.length; i++) {
        var letter = String.fromCharCode("A".charCodeAt(0) + i - 1);
        var data = markers[i - 1]
        var myLatlng = new google.maps.LatLng(data.lat, data.lng);

        var iconShadow = {
          url: iconBase + 'icon_shadow.png',
          anchor: new google.maps.Point(3,13)
        };
        
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.title,
            shadow: iconShadow,
            icon: iconBase + 'fsbo_marker.png'
        });
        
        markers_array.push(marker);

        (function (marker, data) {
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent(data.html);
                infoWindow.open(map, marker);
            });
        })(marker, data);
    }

    var bounds = new google.maps.LatLngBounds();
      for (index in markers) {
        var data = markers[index];
        bounds.extend(new google.maps.LatLng(data.lat, data.lng));
      }
      map.fitBounds(bounds);
 }
 
      
  $(document).ready(function(){
      $('#toggle_search_box').click(function(e){
          e.preventDefault();
          $('#search_box').slideToggle();
      });

      $('#btn_close_search_box').click(function(e){
        e.preventDefault();
        $('#search_box').slideToggle();
      });

      $('.marker_toggle').mouseover(function(e){
        var id = $(this).attr('id');
        id = id.replace('listing_', '');
        google.maps.event.trigger(markers_array[id], 'click');
      });
  });
</script> 
<% end %>


<div class="row" style="height:100%; margin-right:0px;">
  <div id="sidebar_listings" class="col-4" style="padding-top:70px; ">
    <% @listings.each_with_index do |listing, index| %>
     
     <a href="<%= view_listing_path(listing) %>" class="list-group-item marker_toggle" id="listing_<%= index %>" style="">

          <% if listing.featured? %>
           <div class="row">
            <div class="col-12"><span class="label label-danger">featured</span></div>
           </div>
          <% end %>
    
      <div class="row">
        <div class="col-4">
          <%= image_tag(listing.images.first.image.url(:medium), :class => 'img-responsive img-thumbnail') %>
        </div>
        <div class="col-8">
          <!-- Start content -->

         <div class="row">
          <div class="col-12">
            <strong><%= "#{listing.address_1} #{listing.address_2}, #{listing.city}, #{listing.state} #{listing.zipcode}" %></strong>
          </div>
         </div>

          <div class="row">
            <div class="col-12">
              <strong>Price: </strong><%= number_to_currency(listing.price) %>
            </div>
          </div>

          <div class="row" style="margin-top:10px;">
            <div class="col-12">
                <table class="table table-condensed">
                  <tr>
                    <td>Beds: <%= listing.bedrooms %></td>
                    <td><%= listing.property_type %></td>
                  </tr>
                  <tr>
                    <td>Baths: <%= listing.bathrooms %></td>
                    <td><%= listing.sqft %> Sq. Ft.</td>
                  </tr>
                  <tr>
                    <td>Lot size: <%= listing.lot_size %></td>
                    <td>Built: <%= listing.year_built %></td>
                  </tr>
                </table>
            </div>
          </div>
          <!-- End Content -->

        </div>
      </div>
    </a>

     
    <% end %>
  </div>
    <div class="col-8" style="height:100%; padding-left:0px; padding-right:0px; position:relative;">
    <div class="search_bar ">
      <%= form_tag listings_path, :method => :get, :class => 'form-inline' do %>

              <div class="row" style="margin-right:0px;">
                <div class="col-6">
                  <div class="input-group">
                    <%= text_field_tag :q, params[:q], :placeholder => 'Address or City or Zipcode', :class => 'form-control' %>
                    <span class="input-group-btn"><%= button_tag "Search", :class => 'btn btn-default' %></span>
                  </div>
                </div>
                <div class="col-4">
                     <a href="#" id="toggle_search_box" >Advanced Search</a>
                </div>
              </div>
              <% end %>

          
        
        <div id="search_box" style="display:none;" class="shadow">
         <a href="#" id="btn_close_search_box" class="close">&times;</a>
         <div class="search_box_inner ">
          <h3>Advanced Search</h3>
          <%= form_tag listings_path, :method => :get, :class => 'form-horizontal' do  %>
          <input type="hidden" name="search" value="true" />
            <div class="row">
            </div>
            <div class="row">
              <div class="col-12">
                <label>Price</label>
              </div>
            </div>
            <div class="row">
              <div class="col-5 input-group" >
                  <span class="input-group-addon input-sm">$</span>
                  <%= text_field_tag :price_from, @selected_price_from, :placeholder => "Min", :class => 'form-control input-sm' %></div>
                  <div class="col-2 text-center">-</div>
                  <div class="col-5 input-group"><span class="input-group-addon input-sm">$</span><%= text_field_tag :price_to, @selected_price_to, :placeholder => "Max", :class => 'form-control input-sm' %>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label>Bedrooms</label>
              </div>
              <div class="col-6">
                <label>Bathrooms</label>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <select name="bedrooms" id="bedrooms" class="form-control input-sm">
                  <option value="1" <% if @selected_bedrooms == "1" %> selected="selected" <% end %>> 1+</option>
                  <option value="2" <% if @selected_bedrooms == "2" %> selected="selected" <% end %> >2+</option>
                  <option value="3" <% if @selected_bedrooms == "3" %> selected="selected" <% end %> >3+</option>
                  <option value="4" <% if @selected_bedrooms == "4" %> selected="selected" <% end %> >4+</option>
                  <option value="5" <% if @selected_bedrooms == "5" %> selected="selected" <% end %> >5+</option>
                  <option value="6" <% if @selected_bedrooms == "6" %> selected="selected" <% end %> >6+</option>
                  <option value="7" <% if @selected_bedrooms == "7" %> selected="selected" <% end %> >7+</option>
                  <option value="8" <% if @selected_bedrooms == "8" %> selected="selected" <% end %> >8+</option>
                  <option value="9" <% if @selected_bedrooms == "9" %> selected="selected" <% end %> >9+</option>
                </select>
              </div>
              <div class="col-6">
                <select name="bathrooms" id="bathrooms" class="form-control input-sm">
                  <option value="1" <% if @selected_bathrooms == "1" %> selected="selected" <% end %> >1+</option>
                  <option value="2" <% if @selected_bathrooms == "2" %> selected="selected" <% end %> >2+</option>
                  <option value="3" <% if @selected_bathrooms == "3" %> selected="selected" <% end %> >3+</option>
                  <option value="4" <% if @selected_bathrooms == "4" %> selected="selected" <% end %> >4+</option>
                  <option value="5" <% if @selected_bathrooms == "5" %> selected="selected" <% end %> >5+</option>
                  <option value="6" <% if @selected_bathrooms == "6" %> selected="selected" <% end %> >6+</option>
                  <option value="7" <% if @selected_bathrooms == "7" %> selected="selected" <% end %> >7+</option>
                  <option value="8" <% if @selected_bathrooms == "8" %> selected="selected" <% end %> >8+</option>
                  <option value="9" <% if @selected_bathrooms == "9" %> selected="selected" <% end %> >9+</option>
                </select>
              </div>
            </div>
            
            <div class="row">
              <div class="col-12">
                <label>City</label>
              </div>  
            </div>

            <div class="row">
              <div class="col-12">
                <%= select_tag :city, options_from_collection_for_select(@cities, "city", "city", @selected_city), :class => 'form-control input-sm', :prompt => 'Any' %>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-12">
                  <%= submit_tag "Search", :class => 'btn btn-primary' %>
              </div>
            </div>



         <% end %> 

         </div>
        </div>


    </div>
    <div id="map_canvas" ></div> 
  </div>

</div>
