<div id="header">

		<div class="navbar">
			<div class="container">
				<%= link_to image_tag('iowafsbo-logo.png'), home_index_path, :class => 'navbar-brand' %></a>
				<ul class="nav navbar-nav pull-right">
					<li class="<%= 'active' if params[:controller] == 'home' %>"><a href="#">Home</a></li>
					<li class="<%= 'active' if params[:controller] == 'listings' && params[:action] != 'new' %>"><a href="#">Browse</a></li>
					<li class="<%= 'active' if params[:controller] == 'rent-to-own' %>"><a href="#">Rent-to-Own</a></li>
					<li class="<%= 'active' if params[:controller] == 'listings' && params[:action] == 'new' %>"><A href="#">Submit Property</a></li>
					<% if user_signed_in? %>
					<li class="<%= 'active' if params[:controller] == 'devise/sessions' %>"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Account <span class="caret"></span></a>
						 <ul class="dropdown-menu">
					    	<li><%= link_to 'Your Account', dashboard_index_path %></li>
					    </ul>
					</li>
				   
					<% else %>
					<li class="<%= 'active' if params[:controller] == 'devise/sessions' %>"> <%= link_to 'Sign in', sign_in_path %></li>
					<% end %>
				</ul>
			</div>
	</div>
</div>